* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
}

.game {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 40px auto;
  overflow: hidden;
  border: 3px solid #222;
}

/* Background */
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Player (Kush) */
.player {
  position: absolute;
  width: 140px;
  left: 150px;
  top: 200px;
}

/* Obstacle (chip bag) */
.obstacle {
  position: absolute;
  width: 70px;
  right: 100px;
  top: 180px;
}

.score {
  position: absolute;
  top: 12px;
  right: 14px;
  padding: 6px 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: sans-serif;
  font-size: 18px;
  border-radius: 10px;
  z-index: 20;
  user-select: none;
}